<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>Crear producto</title>
    <link rel="stylesheet" href="../css/createProduct.css">
</head>
<body>
    <header>
        <div class="header-main">
            <img src="../imagenes/logo.png" alt="">
            <h1> SYNOC</h1>
        </div>

    </header>
    <main>
        <h1>Control and product management</h1>
        <label><a href="../pagina/manager.html">Return</a></label>
        <h2>Create product</h2>
        <h3>Name:</h3>
        <input type="text" name="name" id="name" placeholder="Enter product name">
        <h3>Description:</h3>
        <input type="text" name="description" id="des">
        <h3>Amount:</h3>
        <input type="text" name="amount" id="cant" placeholder="Enter the quantity of the product">
        <h3>Price:</h3>
        <input type="text" name="price" id="precio" placeholder="Enter the price of the product">
        <h3>Image:</h3>
        <div class="file">
            <button>select files</button>
            <h4>No files selected</h4>
        </div>
        <button>Save</button>
    </main>
    <footer>
        <div class="footer">
            <label for="">Create By Group</label>
            <div class="ball"></div>
            <h1>SYNOC</h1>
            <div class="ball"></div>
            <label for="">Join our team</label>
        </div>
    </footer>
</body>
</html>